*.zip
*.obj
*.o
*.res
*.pdb
*.ilk
*.exp
*.lib

accounts.dat
accounts.dat.v3.bak
placeid.dat
places.dat
privateserver.dat
privateservers.dat
activebuild.dat
joinbest.dat
lastserver.dat
arrange.dat
font.dat
update.dat
fps.dat
fflags.dat
history.dat
playtime.dat
discord.dat
/mods/
customfont.ttf
*.exe.old
*.exe.update
*.prefont.bak
*.preidle.bak
*.v3.bak

/Builds/
/chrome_login_data/
/webview2_data/
/webview2_data_admin/
/web_profiles/

.vs/
*.user
Thumbs.db
/_with_comments_backup/
*.bak
